<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Lora|Monoton|Open+Sans:300,400|Passion+One|Playfair+Display|Roboto:100,400|Source+Sans+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alex+Brush|Berkshire+Swash|Fredericka+the+Great|Great+Vibes|Homemade+Apple|Monoton|Niconne|Pacifico|Pinyon+Script|Sacramento" rel="stylesheet">
    </head>
  <header class="nav">
    <div class="container">
      <nav>
        <div class="header">
          <h1 class="logo"><%=link_to "mybudg", root_path %></h1>
          <ul>
            <li><%= link_to "help", help_path %></li>
            <li><%= link_to "about", about_path %></li>
            <% if logged_in? %>
              <li><%= link_to "profile", current_user %></li>
              <li><%= link_to "update profile", edit_user_path(current_user) %></li>
              <li><%= link_to "my expenses", expenses_path %></li>
              <li><%= link_to "my bills", bills_path %></li>
              <li><%= link_to "log out", logout_path, method: :delete %></li>
            </ul>
            <% else %>
              <li><%= link_to "log in", login_path %></li>
            <% end %>
        </ul>
      </div>
      </nav>
    </div>
  </header>
</html>
