<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+Sans|Amaranth|Amiri|Arima+Madurai|Arizonia|Arvo|Assistant|Averia+Serif+Libre|Baloo+Da|Baloo+Tammudu|Baloo+Thambi|Berkshire+Swash|Bree+Serif|Buda:300|Cabin+Sketch|Carrois+Gothic+SC|Caveat+Brush|Cherry+Swash|Cinzel+Decorative|Clicker+Script|Convergence|Corben|Cormorant+Garamond|Crimson+Text|Croissant+One|Elsie|Euphoria+Script|Forum|Hammersmith+One|Handlee|Jacques+Francois+Shadow|Katibeh|Lato|League+Script|Libre+Baskerville|Lily+Script+One|Lobster|Mada|Merriweather|Miltonian|Miniver|Molengo|Molle:400i|Monoton|Montserrat+Subrayada|Oleo+Script|Overlock+SC|Pacifico|Patua+One|Playfair+Display|Pontano+Sans|Raleway|Rochester|Rock+Salt|Ruluko|Sail|Salsa|Sirin+Stencil|Sree+Krushnadevaraya|Stardos+Stencil|Suez+One|Tinos|Vibur|Vollkorn|Yatra+One|Yeseva+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alex+Brush|Berkshire+Swash|Fredericka+the+Great|Great+Vibes|Homemade+Apple|Monoton|Niconne|Pacifico|Pinyon+Script|Sacramento" rel="stylesheet">
    </head>
  <header class="nav">
      <nav>
        <div class="header">
          <h1 class="logo"><%=link_to "my budg", root_path %></h1>
          <ul>
            <% if logged_in? %>
              <li><%= link_to "profile", current_user %></li>
              <li><%= link_to "update profile", edit_user_path(current_user) %></li>
              <li><%= link_to "log out", logout_path, method: :delete %></li>
            </ul>
            <% else %>
              <li><%= link_to "log in", login_path %></li>
            <% end %>
        </ul>
      </div>
      </nav>
  </header>
</html>
