<!DOCTYPE html>
<html>
  <head>
    <title>MyBudg</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+Sans|Amaranth|Amiri|Arima+Madurai|Arizonia|Arvo|Assistant|Averia+Serif+Libre|Baloo+Da|Baloo+Tammudu|Baloo+Thambi|Berkshire+Swash|Bree+Serif|Buda:300|Cabin+Sketch|Carrois+Gothic+SC|Caveat+Brush|Cherry+Swash|Cinzel+Decorative|Clicker+Script|Convergence|Corben|Cormorant+Garamond|Crimson+Text|Croissant+One|Elsie|Euphoria+Script|Forum|Hammersmith+One|Handlee|Jacques+Francois+Shadow|Katibeh|Lato|League+Script|Libre+Baskerville|Lily+Script+One|Lobster|Mada|Merriweather|Miltonian|Miniver|Molengo|Molle:400i|Monoton|Montserrat+Subrayada|Oleo+Script|Overlock+SC|Pacifico|Patua+One|Playfair+Display|Pontano+Sans|Raleway|Rochester|Rock+Salt|Ruluko|Sail|Salsa|Sirin+Stencil|Sree+Krushnadevaraya|Stardos+Stencil|Suez+One|Tinos|Vibur|Vollkorn|Yatra+One|Yeseva+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Lora|Monoton|Open+Sans:300,400|Passion+One|Playfair+Display|Roboto:100,400|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
    <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  </head>
    <body>
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
  </body>
</html>
