<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+Sans|Amaranth|Amiri|Arima+Madurai|Arizonia|Arvo|Assistant|Averia+Serif+Libre|Baloo+Da|Baloo+Tammudu|Baloo+Thambi|Berkshire+Swash|Bree+Serif|Buda:300|Cabin+Sketch|Carrois+Gothic+SC|Caveat+Brush|Cherry+Swash|Cinzel+Decorative|Clicker+Script|Convergence|Corben|Cormorant+Garamond|Crimson+Text|Croissant+One|Elsie|Euphoria+Script|Forum|Hammersmith+One|Handlee|Jacques+Francois+Shadow|Katibeh|Lato|League+Script|Libre+Baskerville|Lily+Script+One|Lobster|Mada|Merriweather|Miltonian|Miniver|Molengo|Molle:400i|Monoton|Montserrat+Subrayada|Oleo+Script|Overlock+SC|Pacifico|Patua+One|Playfair+Display|Pontano+Sans|Raleway|Rochester|Rock+Salt|Ruluko|Sail|Salsa|Sirin+Stencil|Sree+Krushnadevaraya|Stardos+Stencil|Suez+One|Tinos|Vibur|Vollkorn|Yatra+One|Yeseva+One" rel="stylesheet">

  <style media="screen">
    body {
      background-color: #EEEEF7;
    }
    .edit_user label {
      font-family: avenir next;
      font-weight: 100;
      font-size: 1.5vw;
      letter-spacing: .1vw;
      margin: 0;
      padding: .5vw;
    }

    h1 {
      font-family: 'Rock Salt', cursive;
      margin-top: 5vw;
      font-size: 2vw;
      text-align: center;
      color: #C0C0C0;
    }
    .edit_user {
      width: 100%;
      padding: 1vw 25vw;
    }

  </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<% provide(:title, "edit user") %>
<br><h1>update your profile</h1><br>
  <div class="user-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "name" %><br>
      <%= f.text_field :name, class: 'input' %><br>

      <%= f.label :email, "e-mail" %><br>
      <%= f.email_field :email, class: 'input' %><br>

      <%= f.label :password, "password" %><br>
      <%= f.password_field :password, class: 'input' %><br>

      <%= f.label :password_confirmation, "confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'input' %><br>

      <%= f.label :income, "annual income" %><br>
      <%= f.text_field :income, class: 'input' %><br>

      <%= f.label :zipcode, "zip code" %><br>
      <%= f.text_field :zipcode, class: 'input' %><br>

      <%= f.submit "save changes", class: "submit" %>
    <% end %>
  </div>
</div>

</body>
</html>
