<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya+Sans|Amaranth|Amiri|Arima+Madurai|Arizonia|Arvo|Assistant|Averia+Serif+Libre|Baloo+Da|Baloo+Tammudu|Baloo+Thambi|Berkshire+Swash|Bree+Serif|Buda:300|Cabin+Sketch|Carrois+Gothic+SC|Caveat+Brush|Cherry+Swash|Cinzel+Decorative|Clicker+Script|Convergence|Corben|Cormorant+Garamond|Crimson+Text|Croissant+One|Elsie|Euphoria+Script|Forum|Hammersmith+One|Handlee|Jacques+Francois+Shadow|Katibeh|Lato|League+Script|Libre+Baskerville|Lily+Script+One|Lobster|Mada|Merriweather|Miltonian|Miniver|Molengo|Molle:400i|Monoton|Montserrat+Subrayada|Oleo+Script|Overlock+SC|Pacifico|Patua+One|Playfair+Display|Pontano+Sans|Raleway|Rochester|Rock+Salt|Ruluko|Sail|Salsa|Sirin+Stencil|Sree+Krushnadevaraya|Stardos+Stencil|Suez+One|Tinos|Vibur|Vollkorn|Yatra+One|Yeseva+One" rel="stylesheet">

  <style media="screen">
    body {
      background-color: #EEEEF7;
    }
    .user-form {
      font-family: 'Rock Salt', cursive;
    }

    label {
      font-family: avenir next;
      font-weight: 100;
      font-size: 20px;
    }

    .row {
      font-family: avenir next;
      color: #263675;
      font-size: 16px;
    }

    .btn {
      font-family: avenir next;
      font-weight: 100;
      background-color: #808080;
      text-align: center;
      font-size: 16px;
    }
    h1, h2, h4, h5 {
      font-family: 'Rock Salt', cursive;
      color: #808080;
    }

    a:hover {
      text-decoration: none;
      background-color: #808080;
      color: black;
    }

    h1 {
      margin-top: 35px;
      font-size: 30px;
      text-align: center;
      color: #C0C0C0;
    }

    p {
    font-family: 'Lora', serif;
    color: #808080;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
    }

    p a {
      color: #263675;
    }
  </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<% provide(:title, "edit user") %>
<br><h1>update your profile</h1><br>

<div class="col-sm-6 col-sm-offset-3">
  <div class="user-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>

      <%= f.label :income, "annual income" %>
      <%= f.text_field :income, class: 'form-control' %><br>

      <%= f.label :zipcode, "zip code" %>
      <%= f.text_field :zipcode, class: 'form-control' %><br>

      <%= f.submit "save changes", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

</body>
</html>
