
<% provide(:title, 'sign up') %>
<!DOCTYPE html>
<html>
  <head>
  <style media="screen">
    body {
      background-color: #EEEEF7;
    }
    .logo {
      text-align: left;
      font-family: 'Montserrat Subrayada', sans-serif;
      font-size: 4vw;
      color: #263675;
      text-shadow: 3px 3px white;
    }
    .new-user label, tr {
      font-family: avenir next;
      font-weight: 100;
      font-size: 1.5vw;
      letter-spacing: .1vw;
      margin: 0;
      padding: .5vw;
    }

    h1 {
      font-family: 'Rock Salt', cursive;
      margin-top: 5vw;
      font-size: 2vw;
      text-align: center;
      color: #C0C0C0;
    }
    .new-user {
      width: 100%;
      padding: 1vw 25vw;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="index.scss">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>sign up</h1>
      <div class="new-user">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name, "name"%>
            <%= f.text_field :name, class: 'input' %><br>

            <%= f.label :zipcode, "email" %>
            <%= f.email_field :email, class: 'input' %><br>

            <%= f.label :password, "password" %>
            <%= f.password_field :password, class: 'input' %><br>

            <%= f.label :password_confirmation, "confirmation" %>
            <%= f.password_field :password_confirmation, class: 'input' %><br>

            <%= f.label :income, "annual income" %>
            <%= f.text_field :income, class: 'input' %><br>

            <%= f.label :zipcode, "zip code" %>
            <%= f.text_field :zipcode, class: 'input' %><br>

            <br><%= f.submit "create", class: "submit" %><br><br>
          <% end %>
        </div>
      </div>
      <div class="new-user">
        <table id="user-result"></table>
      </div>
      <script type="text/javascript" charset="utf-8">
        $(function () {
          $('form').submit(function(e) {

            e.preventDefault();

            var values = $(this).serialize();

            var posting = $.post('/users', values);

            posting.done(posting => {
              const markup =
              `<tr>
                <th>${posting.name}</th>
              </tr>
              <tr>
                <td> email: </td><td>${posting.email}</td>
              </tr>
              <tr>
                <td> password: </td><td> ********* </td>
              </tr>
              <tr>
                <td> zipcode: </td><td>${posting.zipcode}</td>
              </tr>
              <tr>
                <td> annual income: </td><td>${posting.income}</td>
              </tr>`;
              $('#user-result').append(markup);
            });
            $('form').hide();
          });
        });

      </script>
  </body>
</html>
