
<% provide(:title, 'sign up') %>
<!DOCTYPE html>
<html>
  <head>
  <style media="screen">
    body {
      background-color: #FAFBFC;
    }

    .row {
      font-family: 'Open Sans', sans-serif;
      color: #263675;
      font-size: 16px;
    }

    .btn {
      font-family: 'Lora', serif;
      background-color: #808080;
      text-align: center;
      font-size: 16px;
    }

    h1, h2, h4, h5 {
      font-family: 'Lora', serif;
      color: #808080;
    }

    a:hover {
      text-decoration: none;
      background-color: #808080;
      color: black;
    }

    h1 {
      margin-top: 35px;
      font-size: 30px;
      text-align: center;
      color: #C0C0C0;
    }

    p {
    font-family: 'Lora', serif;
    color: #808080;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
    }

    p a {
      color: #263675;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="index.scss">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><h1>sign up</h1><br><br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name, "name"%>
            <%= f.text_field :name, class: 'form-control' %><br>

            <%= f.label :zipcode, "email" %>
            <%= f.email_field :email, class: 'form-control' %><br>

            <%= f.label :password, "password" %>
            <%= f.password_field :password, class: 'form-control' %><br>

            <%= f.label :password_confirmation, "confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %><br>

            <%= f.label :income, "annual income" %>
            <%= f.text_field :income, class: 'form-control' %><br>

            <%= f.label :zipcode, "zip code" %>
            <%= f.text_field :zipcode, class: 'form-control' %><br>

            <br><%= f.submit "create my account", class: "btn btn-primary" %><br><br>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div id="user-result">
          </div>
        </div>
      </div>
      <script type="text/javascript" charset="utf-8">

        $(function () {
          $('form').submit(function(e) {
            e.preventDefault();

            var values = $(this).serialize();

            var posting = $.post('/users', values);

            posting.done(posting => {
              const markup =
              `<li>
                <h2> ${posting.name} </h2>
                <p> email: ${posting.email} </p>
                <p> password: ********** </p>
                <p> zipcode: ${posting.zipcode} </p>
                <p> annual income: ${posting.income} </p>
              </li>`;
              $('#user-result').append(markup);
            });
          });
        });

      </script>
  </body>
</html>
