<!DOCTYPE html>
<html>
  <head>
    <head>
    <style media="screen">
      body {
        background-color: #FAFBFC;
      }

      .row {
        font-family: 'Open Sans', sans-serif;
        color: #263675;
        font-size: 16px;
      }

      .btn {
        font-family: 'Lora', serif;
        background-color: #808080;
        text-align: center;
        font-size: 16px;
      }
      h1, h2, h4, h5 {
        font-family: 'Lora', serif;
        color: #808080;
      }

      a:hover {
        text-decoration: none;
        background-color: #808080;
        color: black;
      }

      h1 {
        margin-top: 24px;
        font-size: 30px;
        text-align: center;
        color: #C0C0C0;
      }

      p {
      font-family: 'Lora', serif;
      color: #808080;
      margin-left: 8px;
      margin-right: 10px;
      font-size: 18px;
      }

      p a {
        color: #263675;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.scss">
      <meta charset="utf-8">
    <title>add new expense</title>
  </head>
      <body>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <br><h1>add new expense</h1><br>
            <%= form_for(@expense) do |f| %>
            <%= f.label :name, "name" %>
            <%= f.text_field :name, class: 'form-control'  %><br>
            <%= f.select :expense_type, [ 'entertainment', 'restaurants/takeout', 'clothing/cosmetics', 'transportation', 'groceries' ] %>
            <br><br><%= f.label :cost, "cost" %>
            <%= f.text_field :cost, class: 'form-control'  %><br>
            <%= f.label :start_time, "payment due" %>
            <%= f.text_field :start_time, class: 'form-control'  %><br>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "add expense" , class: 'btn btn-primary' %><br>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div id="expense-result">
            </div>
          </div>
        </div>
        <script type="text/javascript" charset="utf-8">
          $(function () {
            $('form').submit(function(event) {

              event.preventDefault();

              var values = $(this).serialize();

              var posting = $.post('/expenses', values);

              posting.done(posting => {
                let markup =
                `<li>
                  <h2> ${posting.name} </h2>
                  <p> cost: ${posting.cost} </p>
                  <p> type: ${posting.expense_type} </p>
                  <p> payment date: ${posting.start_time} </p>
                </li>`;
                $('#expense-result').append(markup);              });
            });
          });
        </script>
    </body>
</html>
