<!DOCTYPE html>
<html>
  <head>
    <head>
    <style media="screen">
      body {
        background-color: #EEEEF7;
      }
      .container {
        width: 100%;
        padding: 2vw 12vw 2vw 12vw;
        margin: 0;
        margin-bottom: 20vw;
      }
      #new-exp-title {
        font-size: 1.5vw;
        font-family: avenir next;
        font-weight: 100;
        letter-spacing: .25vw;
        border-bottom: solid .5px white;
        padding: 0vw 0vw 1vw 0vw;
      }
      #expense-header {
        width: 100%;
        padding: 0vw 3vw 3vw 3vw;
        color: #grey;
        font-family: avenir next;
        font-weight: 100;
        text-align: center;
      }
      .expense-form label {
        font-family: avenir next;
        font-weight: 100;
        font-size: 1.25vw;
        letter-spacing: .1vw;
        margin: 0;
        padding: .5vw;
      }
      h1 {
        font-family: 'Rock Salt', cursive;
        font-size: 2.25vw;
        text-align: center;
        color: #C0C0C0;
        letter-spacing: .2vw;
        padding: 2vw;
        margin: 0;
      }

      #expense-result {
        width: 50%;
        display: inline-block;
        padding: 1.5vw;
      }

      h2, h3 {
        padding: 1vw;
        width: 100%;
        font-family: avenir next;
        font-weight: 100;
        font-size: 1.2vw;
        letter-spacing: .1vw;
        margin: 0;
      }

      .expense-form {
        width: 50%;
        display: inline-block;
        float: left;
        height: auto;
        font-weight: 100;
        padding: 2vw;
        background-color: lightgrey;

      }
      select {
        margin-top: 2vw;
        margin-left: 2.5%;
        font-family: avenir next;
        font-size: 1.5vw;
        height: 4vw;
        width: 95%;
        align-items: center;
      }
      #last-row {
        border-bottom: solid 1px grey;
      }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>add new expense</title>
  </head>
      <body>
        <section>
          <article id="expense-header">
            <h1>add new expenses</h1>
            <p> expenses are one-time allowances that have been made this month. please add regular monthly expenses like utilities bills.</p>
          </article>
          <div class="expense-form">
              <%= form_for(@expense) do |f| %>
              <%= f.label :name, "name" %>
              <%= f.text_field :name, class: 'input'  %><br>
              <%= f.select :expense_type, [ 'entertainment', 'restaurants/takeout', 'clothing/cosmetics', 'transportation', 'groceries' ] %>
              <br><br><%= f.label :cost, "cost" %>
              <%= f.text_field :cost, class: 'input'  %><br>
              <%= f.label :start_time, "payment due" %>
              <%= f.text_field :start_time, class: 'input'  %><br>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.submit "add expense" , class: 'submit' %><br>
              <% end %>
          </div>
            <div id="expense-result">
              <h1 id="new-exp-title">your additions</h1>
            </div>
          </div>
      </section>

        <script type="text/javascript">
          $(function () {
            $('form').submit(function(event) {
              event.preventDefault();
              var values = $(this).serialize();
              var posting = $.post('/expenses', values);

              posting.done(posting => {
                let markup =
                `<h2>${posting.name}</h2>
                <h3> type: ${posting.expense_type}</h3>
                <h3 id="last-row"> cost: $${posting.cost}</h3>`;

                $('#expense-result').append(markup);
              });
              $('form')[0].reset();
            });
          });
        </script>
    </body>
</html>
