<!DOCTYPE html>
<html>
  <head>
  <style media="screen">
    body {
      background-color: #FAFBFC;
    }

    .row {
      font-family: 'Open Sans', sans-serif;
      color: #263675;
      font-size: 16px;
    }

    .btn {
      font-family: 'Lora', serif;
      background-color: #808080;
      text-align: center;
      font-size: 16px;
    }
    h1, h2, h4, h5 {
      font-family: 'Lora', serif;
      color: #808080;
    }

    a:hover {
      text-decoration: none;
      background-color: #808080;
      color: black;
    }

    h1 {
      margin-top: 35px;
      font-size: 30px;
      text-align: center;
      color: #C0C0C0;
    }

    p {
    font-family: 'Lora', serif;
    color: #808080;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
    }

    p a {
      color: #263675;
    }
  </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% provide(:title, "log in") %>
    <br><h1>log in</h1><br><br>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email, "email" %>
          <%= f.email_field :email, class: 'form-control' %><br>

          <%= f.label :password, "password" %>
          <%= f.password_field :password, class: 'form-control' %><br>

          <%= f.submit "log in", class: "btn btn-primary" %><br><br>
        <% end %>

        <p>new to mybudg? <%= link_to "sign up now", signup_path %></p><br>
      </div>
    </div>
  </body>
</html>
