<!DOCTYPE html>
<html>
  <head>
  <style media="screen">
    body {
      background-color: #EEEEF7;
    }
    .input {
      background-color: white;
      font-size: 1.2vw;
    }
    .submit {
      width: 7vw;
    }
    label {
      font-size: 1.2vw;
      font-weight: 100;
      letter-spacing: .1vw;
      padding: .5vw;
      margin-top: .5vw;
    }
    h1 {
      font-family: 'Rock Salt', cursive;
      margin: 2vw 0vw 0vw 0vw;
      font-size: 2.5vw;
      text-align: center;
      color: #C0C0C0;
    }
    p {
      font-family: 'Rock Salt', cursive;
      color: grey;
      font-size: 1.2vw;
    }
    a:hover {
      text-decoration: none;
    }
    .user-form {
      font-size: 1vw;
      padding: 0vw 25vw;
    }
    .container {
      width: 100%;
      margin-bottom: 20vw;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% provide(:title, "log in") %>
    <br><h1>log in</h1><br><br>
      <div class="user-form">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email, "email" %>
          <%= f.email_field :email, class: 'input' %><br>

          <%= f.label :password, "password" %>
          <%= f.password_field :password, class: 'input' %><br>

          <%= f.submit "log in", class: "submit" %><br><br>
        <% end %>

        <p>new to mybudg? <%= link_to "sign up now", signup_path %></p><br>
    </div>
  </body>
</html>
