<!DOCTYPE html>
<html>
  <head>
    <head>
    <style media="screen">
      body {
        background-color: #EEEEF7;
      }

      .row {
        color: #263675;
        font-weight: 100;
      }

      .btn {
        font-family: avenir next;
        background-color: #808080;
        text-align: center;
        font-size: 20px;
      }

      a:hover {
        text-decoration: none;
        background-color: #808080;
        color: black;
      }


      h1 {
        font-family: 'Stardos Stencil', cursive;
        letter-spacing: 1.5px;
        font-weight: lighter;
        text-shadow: 2px 2px lightgrey;
        text-align: center;
      }

      p a {
        color: #263675;
      }

      label {
        font-weight: 100;
      }

      section {
        width: 100%;
        height: auto;
        margin-top: 50px;
      }

      #result {
        width: 50%;
        display: inline-block;
      }

      .bill-form {
        width: 50%;
        display: inline-block;
        float: left;
        height: auto;
        font-size: 20px;
        font-family: avenir next;
        font-weight: 100;
      }

      #bill-result {
        font-family: 'Rock Salt', cursive;
        font-size: 24px;
      }

      input {
        font-family: 'Rock Salt', cursive;
        font-size: 24px;
      }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.scss">
      <meta charset="utf-8">
    <title>add new bill</title>
  </head>
  <body>
    <section>
      <div class="bill-form">
          <br><h1>add new bill</h1><br>
          <%= form_for(@bill) do |f| %>

          <%= f.label :company, "company" %>
          <%= f.text_field :company, class: 'form-control'  %><br>

          <%= f.label :cost, "cost" %>
          <%= f.text_field :cost , class: 'form-control' %><br>

          <%= f.label :type, "type" %><br>
          <%= f.select :bill_type, [ 'utilities','rent/mortage','loans', 'credit cards' ] %><br><br>

          <%= f.label :start_time, "payment due" %>
          <%= f.text_field :start_time, class: 'form-control'  %><br>

          <%= f.hidden_field :user_id, :value => current_user.id %>

          <%= f.submit "add bill", class: 'btn btn-primary'  %><br>
          <% end %>
        </div>
        <div class="row">
            <table colspan="2" id="bill-result">
          </table>
        </div>
    </section>

        <script type="text/javascript" charset="utf-8">
          $(function () {
            $('form').submit(function(e) {
              e.preventDefault();

              var values = $(this).serialize();

              var posting = $.post('/bills', values);

              posting.done(posting => {
                let markup =
                `<tr>
                  <td>${posting.company}</td>
                </tr>
                <tr>
                  <td> type: </td><td>${posting.bill_type}</td>
                  <td> cost: </td><td>${posting.cost}</td></tr>`;
                $('#bill-result').append(markup);
              });
              $('form')[0].reset();
            });
          });
      </script>
  </body>
</html>
