<!DOCTYPE html>
<html>
  <head>
    <head>
    <style media="screen">
    body {
      background-color: #EEEEF7;
    }
    .container {
      width: 100%;
      padding: 2vw 12vw 2vw 12vw;
      margin: 0;
    }
    #new-bill-title {
      font-size: 2vw;
      font-family: avenir next;
      font-weight: 100;
      letter-spacing: .25vw;
      border-bottom: solid .5px white;
      padding: 0vw 0vw 1vw 0vw;

    }
    #bill-header {
      width: 100%;
      padding: 0vw 3vw 3vw 3vw;
      color: #grey;
      font-family: avenir next;
      font-weight: 100;
      text-align: center;
      margin-bottom: 1.5vw;

    }
    .bill-form label {
      font-family: avenir next;
      font-weight: 100;
      font-size: 1.5vw;
      letter-spacing: .1vw;
      margin: 0;
      padding: .5vw;
    }
    h1 {
      font-family: 'Rock Salt', cursive;
      font-size: 2.25vw;
      text-align: center;
      color: #C0C0C0;
      letter-spacing: .2vw;
      padding: 2vw;
      margin: 0;
    }
    #bill-result {
      width: 50%;
      display: inline-block;
      padding: 1.5vw;
    }

    h2, h3 {
      padding: 1vw;
      width: 100%;
      font-family: avenir next;
      font-weight: 100;
      font-size: 1.2vw;
      letter-spacing: .1vw;
      margin: 0;
    }

    .bill-form {
      width: 50%;
      display: inline-block;
      float: left;
      height: auto;
      font-weight: 100;
      padding: 2vw;
      background-color: lightgrey;

    }
    select {
      margin-top: 2vw;
      margin-left: 2.5%;
      font-family: avenir next;
      font-size: 1.5vw;
      height: 4vw;
      width: 95%;
      align-items: center;
    }
    #last-row {
      border-bottom: solid 1px grey;
    }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.scss">
      <meta charset="utf-8">
    <title>add new bill</title>
  </head>
  <body>
    <section>
      <article id="bill-header">
        <h1>add new bills</h1>
        <p>bills are recurring, monthly expenses, such as rent or utility costs. for one-time expenses for the month, please add under expenses.</p>
      </article>
      <div class="bill-form">
          <%= form_for(@bill) do |f| %>

          <%= f.label :company, "company" %>
          <%= f.text_field :company, class: 'input'  %><br>

          <%= f.label :cost, "cost" %>
          <%= f.text_field :cost , class: 'input' %><br>

          <%= f.label :type, "type" %><br>
          <%= f.select :bill_type, [ 'utilities','rent/mortage','loans', 'credit cards' ] %><br><br>

          <%= f.label :start_time, "payment due" %>
          <%= f.text_field :start_time, class: 'input'  %><br>

          <%= f.hidden_field :user_id, :value => current_user.id %>

          <%= f.submit "add bill", class: 'submit'  %><br>
          <% end %>
        </div>
        <div id="bill-result">
          <h1 id="new-bill-title">new additions</h1>
        </div>
        </div>
    </section>

        <script type="text/javascript" charset="utf-8">
          $(function () {
            $('form').submit(function(e) {
              e.preventDefault();
              var values = $(this).serialize();
              var posting = $.post('/bills', values);

              posting.done(posting => {
                let markup =
                `<h2>${posting.company}</h2>
                <h3> type: ${posting.expense_type}</h3>
                <h3 id="last-row"> cost: $${posting.cost}</h3>`;
                $('#bill-result').append(markup);
              });
              $('form')[0].reset();
            });
          });
      </script>
  </body>
</html>
